
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Styling for the main container of books */
.book-main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(40vh, 20vw));
  grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 20px;
}

/* Styling for the search box */
#search-box {
  width: 100vw;
  height: 5vh;
  padding: 0.1vh 2vw;
  background-color: #d7e3fa;
  margin-top: 7vh;
  font-size: 0.9rem;
  color: darkslategrey;
  box-shadow: inset 0.1vh 0.2vw 0.4rem rgb(197, 157, 157);
  border: none;
}

/* Styling for each book container */
.allbook {
  background-color: white;
  overflow: auto;
}

/* Styling for book images */
.book-img {
  width: 85%;
  height: 40vh;
  margin: 2px auto;
  display: block;
}

/* Styling for book titles and links */
.title, .title a {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1vh 0.2vw;
  color: #000000;
}

/* Styling for book authors */
.by {
  text-align: center;
  font-size: 0.7rem;
}

/* Styling for the registration status message */
#Registration-done {
  margin: 0vh 40vw;
  color: #40af44; /* Success message color */
  font-size: 1.2rem;
  font-weight: bold;
}

/* Styling for the footer */
#footer {
  max-width: 100vw;
  max-height: 1vh;
  background-color: #f9fafc;
  color: #000000;
}
