#navbar {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fce7cb;
  padding: 1vh;
  box-shadow: 0 0.1vw 0.1rem rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  margin-right: 10px;
}
.onlysr-:hover {
  text-decoration: underline;
}


.navbar-links a {
  margin-left: 2vw;
  color: #685f5f;
  text-decoration: none;
  font-size: 3vh;
  font-weight: 700;
}

.navbar img {
  height: 4vh;
  width: 7vh;
}
